#container {
  background-color:#CCCCCC;
  width: 80%;

}

#header {
  background-color:darkslategray; 
  background-image: URL(images/icecream-header.jpg);

}

#topnavbar {
  background-color:cornsilk;
}

#maincontent {
  background-color:aliceblue;
  font-family: 'Courier New', Courier, monospace;
}

#bottomnavbar {
  background-color:cornsilk;

}

